footer {
    bottom: 0;
    margin-top: 100px;
    width: 100%
  }
  
  footer a {
    color: white;
  }
  
  .page-links {
      padding-left: 5px;
      padding-right: 5px;
  }
  .social-media {
    margin-right: 20px;
    font-size: 30px;
  }
  .social-media:hover {
    color: white;
  }
  